<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>

<form action="/weather-app" method="post">

    <h1>Dodaj warunki pogodowe panujace w Twoim miescie:</h1>

    Dodaj miasto: <input type="text" name="town"> <br/>
    Dodaj temperature (w st. Celsjusza): <input type="number" name="temperature"> <br/>
    Dodaj wilgotnosc (w g/m3): <input type="number" name="humidity"> <br/>


    <input type="submit" value="Wyślij">




</form>

</body>
</html>